{% extends "blocks/base.html" %}

{% block variables -%}
  {% set base_url = "." %}
{%- endblock variables %}

{% block title %}Recipes{% endblock title %}

{% block main -%}
  <article class="recipes">{{ lf -}}
    <header>{{ lf -}}
      <h1>Recipes</h1>{{ lf -}}
      <h2>private recipe collection</h2>{{ lf -}}
    </header>{{ lf }}
    {%- if tags | length > 0 -%}
      <nav class="tags">{{ lf -}}
        <span class="caption">Tags:</span>{{ lf -}}
        <ul>{{ lf }}
          {%- for tag in tags -%}
            <li><span class="tag">{{ tag }}</span></li>{{ lf }}
          {%- endfor -%}
          <li><span class="reset icon">{% include "includes/reset.html" %}</span></li>{{ lf -}}
        </ul>{{ lf -}}
      </nav>{{ lf }}
    {%- endif -%}
    <section class="list">{{ lf -}}
      <p class="count">{{ lf -}}
        <span class="value">{{ recipes | length }}</span>{{ lf -}}
        <span class="recipes" data-singular="recipe", data-plural="recipes">recipe{{ recipes | length | pluralize }}</span> found (<a class="random">random</a>):{{ lf -}}
      </p>{{ lf -}}
      <ul class="dash-list">{{ lf }}
        {%- for recipe in recipes -%}
          <li>{{ lf -}}
            <a class="item" href="{{ recipe.path | escape_xml | safe }}">{{ recipe.title }}</a>{{ lf }}
            {%- if recipe.tags | length > 0 -%}
              <div class="tags">{{ lf -}}
                <span class="caption">Tags:</span>{{ lf -}}
                <ul>{{ lf }}
                  {%- for tag in recipe.tags -%}
                    <li><span class="tag">{{ tag }}</span></li>{{ lf }}
                  {%- endfor -%}
                </ul>{{ lf -}}
              </div>{{ lf }}
            {%- endif -%}
          </li>{{ lf }}
        {%- endfor -%}
      </ul>{{ lf -}}
    </section>{{ lf -}}
  </article>
{% endblock main %}
