{% import "macros/list.html" as list %}

{% extends "blocks/base.html" %}

{% block variables -%}
  {% set base_url = ".." %}
{%- endblock variables %}

{% block title %}{{ recipe.title }}{% endblock title %}

{% block main -%}
  <article class="recipe">{{ lf -}}
    <header>{{ lf -}}
      <h1>{{ recipe.title }}</h1>{{ lf -}}
    </header>{{ lf }}
    {%- if image_path is string -%}
      <section class="image">{{ lf -}}
        <img alt="{{ recipe.title }}" src="../{{ image_path | urlencode | safe }}">{{ lf -}}
      </section>{{ lf }}
    {%- endif -%}
    <section class="ingredients">{{ lf -}}
      <h2>Ingredients</h2>{{ lf -}}
      <p class="servings">{{ lf -}}
        {%- include "includes/person.html" -%}
        <span>Servings:
          {%- set servings = recipe.metadata.servings -%}
          {{ " " }}<span class="value">{{ servings.value }}</span>
          {%- if servings.unit is string -%}
            {{ " " }}<span class="unit">{{ servings.unit }}</span>
          {%- endif -%}
        </span>{{ lf -}}
      </p>{{ lf }}
      {{- list::list(tag = "ul", list = recipe.ingredients) -}}
    </section>{{ lf }}
    {%- if recipe.notes | length > 0 -%}
      <section class="notes">{{ lf -}}
        <h2>Notes</h2>{{ lf -}}
        <ul class="dash-list">{{ lf }}
          {%- for note in recipe.notes -%}
            <li class="item">{{ note }}</li>{{ lf }}
          {%- endfor -%}
        </ul>{{ lf -}}
      </section>{{ lf }}
    {%- endif -%}
    <section class="instructions">{{ lf -}}
      <h2>Instructions</h2>{{ lf -}}
      {{ list::list(tag = "ol", list = recipe.instructions) -}}
    </section>{{ lf }}
    {%- set source = recipe.metadata.source %}
    {%- if source is object -%}
      <section class="source">{{ lf -}}
        <p>
          {%- if source.author is defined -%}
            Author: <span class="author">{{ source.author }}</span>
          {%- elif source.book is defined -%}
            Source: <span class="book">{{ source.book }}</span>
          {%- else -%}
            Source: <a href="{{ source.link.url | urlencode | safe }}">{{ source.link.name }}</a>
          {%- endif -%}
        </p>{{ lf -}}
      </section>{{ lf }}
    {%- endif -%}
  </article>
{% endblock main %}
